div {
    display: block;
}
* {
    box-sizing: border-box;
}


.Box {
    background-color: var(--color-canvas-default);
    border-color: #acb5bf;
    border-radius: var(--primer-borderRadius-medium, 6px);
    border-style: solid;
    border-width: var(--primer-borderWidth-thin, 1px);
}

.Box-body {
    border-bottom: var(--primer-borderWidth-thin, 1px) solid var(--color-border-default);
    padding: var(--primer-stack-padding-normal, 16px);
}

.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:hover {
    color: blue;
    text-decoration: underline;
}

.d-flex {
    display: flex !important;
}
.flex-1 {
    flex: 1 !important;
}
.my-5 {
    margin-top: var(--base-size-32, 32px) !important;
    margin-bottom: var(--base-size-32, 32px) !important;
}


.text-bold {
    font-weight: var(--base-text-weight-semibold, 600) !important;
}

.d-inline {
    display: inline !important;
}

.f1 {
    font-size: var(--h1-size-mobile, 26px) !important;
}

.flex-justify-center {
    justify-content: center !important;
}

.col-md-9 {
    width: 74.99999997%;
}


